@use 'src/assets/styles/base';

.container {
  width: 220px;
  min-height: 100px;
  display: grid;
  grid-template-rows: 1fr 30px 30px;
  grid-template-columns: 20px 1fr 20px 20px;
  grid-template-areas: 'main main main main'
                       'user user user user'
                       'date date date date';
  align-items: center;
  color:  #fff;
  background-color: #000;
  font-family: 'Quicksand', sans-serif;
  border:none;
  border-radius: 5px;
  word-break: break-all;
  padding: 5px;

  :nth-child(2) {
    padding-left: 5px;
  }

  .date {
    font-size: 0.7em;
    grid-area: date;
    justify-self: center;
  }

  .select {
    transform: scale(1.1);
    grid-area: user ;
    justify-self: end;

    input {
      background-color: darkslateblue;
      justify-self: center;
      transform: scale(0.5);

    }
  }
}