@use 'src/assets/styles/base';
@import 'src/assets/styles/extends';

.app_wrapper {
  @extend %flex;
  width: base.$app_width;
  height: 100vh;
  background-color: base.$bg_color;
  color: base.$main_color;
  margin: 0 auto;

  p {
    color:#000;
  }
}